### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [11]:
# Dependencies and Setup
import pandas as pd
from pprint import pprint

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [12]:
print(f'Total number of players in the data set: {len(purchase_data["SN"].unique())}')

Total number of players in the data set: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
data=[{"Number of Unique Items":len(purchase_data['Item Name'].unique()), 
       "Average Price":purchase_data['Price'].mean(),
       "Total Number of Transactions":purchase_data["SN"].count() ,
       "Total Revenue":purchase_data["Price"].sum()}]


summary_table=pd.DataFrame(data)
summary_table

,Number of Unique Items,Average Price,Total Number of Transactions,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [14]:
male_data=purchase_data.loc[(purchase_data["Gender"] == 'Male')]
unique_male_ID_count=len(male_data["SN"].unique())
female_data=purchase_data.loc[(purchase_data["Gender"] == 'Female')]
unique_female_ID_count=len(female_data["SN"].unique())
other_gender=purchase_data.loc[(purchase_data["Gender"] != 'Female') & (purchase_data["Gender"] != 'Male')]
other_gender_ID_count=len(other_gender["SN"].unique())
total=len(male_data)+len(female_data)+len(other_gender)

Gender_data={"Total Count":[len(male_data),len(female_data),len(other_gender)],"Percentage of Players":
            [len(male_data)/total*100,len(female_data)/total*100,len(other_gender)/total*100]}

Gender_data=pd.DataFrame(Gender_data,index =["Male","Female","Other/Non Disclosed"])
Gender_data

                     Total Count  Percentage of Players
Male                         652              83.589744
Female                       113              14.487179
Other/Non Disclosed           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [158]:
Gender_analysis={"Gender":["Male","Female","Other/Non Disclosed"],"Purchase Count":[len(male_data),len(female_data),len(other_gender)],
                "Average Purchase Price":[male_data["Price"].mean(),female_data["Price"].mean(),other_gender["Price"].mean()],
                "Total Purchase Value":[male_data["Price"].sum(),female_data["Price"].sum(),other_gender["Price"].sum()],
                "Avg Total Purchase per Person":[male_data["Price"].sum()/unique_male_ID_count,female_data["Price"].sum()/unique_female_ID_count,3]}

Gender_analysis=pd.DataFrame(Gender_analysis)
Gender_analysis.set_index("Gender",inplace=True)
Gender_analysis.head().style

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [159]:
bins = [0,9,14,19,24,29,34,39,100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
player_in_agegrp=[]
Percent_player=[]

purchase_data["Age group"]=pd.cut(purchase_data["Age"],bins, labels=group_names)

purchase_data1=purchase_data.groupby("Age group")
playercount=(purchase_data1["SN"].unique())
for i in range(len(group_names)):
     player_in_agegrp.append(len(playercount[i]))

for i in range(len(player_in_agegrp)):
    Percent_player.append(player_in_agegrp[i]/sum(player_in_agegrp)*100)


Age_demographics=list(zip(player_in_agegrp,Percent_player))

Age_demographics=pd.DataFrame(Age_demographics,columns=["Total count","Percentage of players"],index=group_names)

Age_demographics.style.format({"Percentage of players":"{:20,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [168]:
purchase_count=[]
purchase_count=purchase_data1["Purchase ID"].count()

Average_purchase_price=[]
Average_purchase_price=purchase_data1["Price"].mean()

Total_purchase_value=[]
Total_purchase_value=purchase_data1["Price"].sum()

Average_total_purchase_per_person=[]
for i in range(len(player_in_agegrp)):
    Average_total_purchase_per_person.append(Total_purchase_value[i]/player_in_agegrp[i])
    
Purchasing_analysis=list(zip(group_names,purchase_count,Average_purchase_price,Total_purchase_value,Average_total_purchase_per_person))

Purchasing_analysis_df=pd.DataFrame(Purchasing_analysis,
                                    columns=["Age Ranges","Purchase Count","Average Purchase Price","Total Purchase Value",
                                             "Average Total Purchase per Person"])

Purchasing_analysis_df.set_index("Age Ranges").style.format({"Total Purchase Value": "${:20,.2f}","Average Purchase Price": "${:20,.2f}",
                                                             "Average Total Purchase per Person": "${:20,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [170]:
purchase_data2=purchase_data.groupby("SN")
Total_purchase_value2=purchase_data2["Price"].sum().sort_values(ascending=False)
Total_purchase_value2_df=pd.DataFrame(Total_purchase_value2)
Top_spenders_SN=[]
TS_total_pv=[]

for i in range(5):
    Top_spenders_SN.append(Total_purchase_value2_df.index[i])
    TS_total_pv.append(Total_purchase_value2[i])


Top_spenders_SN
TS_purchase_count=[]
for i in Top_spenders_SN:
    TS_purchase_count.append(len(purchase_data.loc[(purchase_data["SN"] == i)]))


TS_average_pp=[]

for i in range(len(Top_spenders_SN)):
    TS_average_pp.append(TS_total_pv[i]/TS_purchase_count[i])

TS_average_pp

Total_spenders=pd.DataFrame(list(zip(Top_spenders_SN,TS_purchase_count,TS_average_pp,TS_total_pv)),columns=["SN","Purchase Count",
                            "Average Purchase Price","Total Purchase Value"])
Total_spenders.set_index("SN").style.format({"Total Purchase Value": "${:20,.2f}","Average Purchase Price": "${:20,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [99]:
Item_data=purchase_data[["Item ID","Item Name","Price"]]
Item_data_group=Item_data.groupby(["Item ID","Item Name"])
Item_data_group1=Item_data_group.sum()#.sort_values("Price",ascending=False)
Item_data_group_df=pd.DataFrame(Item_data_group1)
Item_names=[]
Item_IDs=[]
for i in range(len(Item_data_group_df)):
    Item_names.append(Item_data_group_df.index[i][1])
    Item_IDs.append(Item_data_group_df.index[i][0])

In [100]:
Item_purchase_count=[]

for j in Item_IDs:
    
    Item_purchase_count.append(len(purchase_data.loc[purchase_data["Item ID"]==j]))

In [101]:
Item_price=[]
for i in Item_names:
    for x in purchase_data.iterrows():
        if (x[1]["Item Name"]==i):
            Item_price.append(x[1]["Price"])
            break

Total_price=[]

for x in range(len(Item_price)):
    Total_price.append(Item_price[x]*Item_purchase_count[x])

In [174]:
Most_popular_items=pd.DataFrame(list(zip(Item_IDs,Item_names,Item_purchase_count,Item_price,Total_price)),columns=["Item ID","Item Name","Purchase Count","Item Price","Total Purchase Value"])
Most_popular_items.sort_values("Purchase Count",ascending=False).head().set_index("Item ID").style.format({"Total Purchase Value": "${:20,.2f}","Item Price": "${:20,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [176]:

Most_popular_items.sort_values("Total Purchase Value",ascending=False).head().set_index("Item ID").style.format({"Total Purchase Value": "${:20,.2f}","Item Price": "${:20,.2f}"})